<div class="container">
 <div class="row">
  <h1>編集</h1>
 </div>
   <div class="row">
    <div class="col">
     <%= form_with model:@take, local:true do |f| %>
     <div>
       <%= f.label "商品名　" %>
       <%= f.text_field :name %>
     </div>
     <div>
       <%= f.label "在庫　　"%>
       <%= f.text_field :remaining %>
     </div>
     <div>
       <%= f.label "最低個数" %>
       <%= f.text_field :lowest %>
     </div>
     <div class="touroku">
       <%= f.submit '変更' ,class:"btn btn-info"%>
     </div>
     <% end %>
    </div>
   </div>


<button type="button" class="btn btn-danger rounded-pill btn-lg touroku mt-2" data-toggle="modal" data-target="#exampleModal">
     削除する
    </button>
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
       <div class="modal-body">
        本当に削除しますか？
       </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <button type="button" class="btn btn-danger">
           <%= link_to "削除", take_path(@take),method: :delete, class: "text-light"%>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>