<!DOCTYPE html>
<html>
  <head>
    <title>McF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="text-right p-5">
    <% if admin_signed_in? %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-danger" %>
        <%= link_to "在庫一覧", takes_path, class: "btn btn-success" %>
        <%= link_to "発注", notification_path, class: "btn btn-success" %>
    <% else %>
        <%= link_to "ログイン", new_admin_session_path, class: "btn btn-info" %>
    <% end %>
   </div>

    <%= yield %>
  </body>
</html>
